<footer class="short" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4 style="color:#FFFFFF; font-weight:400;font-size:1.8em !important;">About Us</h4>
        <p id="aboutus">
          FollowApp is an attempt to help all of us to aquire good health by taking good care of us and taking care of
          everyone in our family. Taking an appointment with our Doctor, an appointment for a Blood test or ordering
          medicine to be delivered home are now possible, so easy and just a touch away!
          <br></p>
        <hr class="light">
      </div>
      <div class="col-md-3 col-md-offset-1">
        <h5 class="mb-sm" style="color: #fff; font-size: 15px;">Contact Us</h5>
        <span class="phone">73388 94333 / 95333</span>
        <ul class="list list-icons list-icons-sm" style="color: #fff">
          <li>
            <mat-icon class="" style="font-size: 15px;">mail</mat-icon>
            <a href="mailto:sales@nalamhcit.com" style="color: #fff;margin-bottom: 10px;position: absolute;
            bottom: -5px;">sales@nalamhcit.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" style="background-color: #2284b7;">
    <div class="container">
      <div class="row">
        <div class="col-md-1" id="copyrightstmtlogo">
          <a href="#" class="logo">
            <img alt="Followapp, Our Healthcare Partner" style="width: 50px;" class="img-responsive"
              src="../../assets/images/followappTimeline.png">
          </a>
        </div>
        <div class="col-md-7 p-t-20" id="copyrightstmt">
          <p style="color: #fff"> Copyright 2019. All Rights Reserved.</p>
        </div>
        <div class="col-md-4">
          <nav id="sub-menu">
            <ul>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>