#footer.short {
    padding-top: 50px;
}
#footer {
	background: #3297cb;
    border-top: 4px solid #3297cb;
    font-size: 0.9em;
    margin-top: 50px;
    padding: 70px 0 0;
    position: relative;
    clear: both;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
	margin-left: auto;
	width: 1350px;
}

#aboutus {
	color: #fff;
}
#footer .phone {
    color: #FFF;
    font-size: 26px;
    font-weight: bold;
    display: block;
    padding-bottom: 15px;
    margin-top: -5px;
}
#copyrightstmt {
    padding-top: 45px;
}