<div class="col-md-12 col-xs-12" style="background-color:#075381;color:#fff;padding:10px;">
  <div class="col-md-offset-2 col-md-10" style="padding:10px !important">
    <div class="col-md-6">
      <h3 style="color: #fff;margin:5px !important;text-transform: unset">Claim Profile</h3>
    </div>
  </div>
</div>
<div class="col-md-12 col-xs-12" style="background-color: #d3d3d326">
  <div class="col-md-12 col-xs-12" style="padding:30px 5px 30px 5px; margin-top:20px; margin-bottom:20px;">
    <div class="col-md-offset-2 col-md-7">
      <ul class="breadcrumb">
        <li><a routerLink="/search">Home</a></li>
        <li><a routerLink="/doctors">Doctors</a></li>
        <li *ngIf="regid != ''"><a [routerLink]="['/Claim_Profile', regid]" >Profile</a></li>
        <li *ngIf="doctorid != ''"><a routerLink="['/claim_profile', doctorid]" >Profile</a></li>
        <li>Claim Profile</li>
      </ul>
      <div class="col-md-12 col-xs-12" style="padding: 30px;background-color: #fff;">
        <form [formGroup]="ClaimProfileFormGroup" #f="ngForm" enctype="multipart/form-data">
          <div class="col-md-12" *ngIf="doctordetail?.RegNo != null">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Registration Number" formControlName="regno" readonly
                value="{{doctordetail?.RegNo}}">
            </mat-form-field>
          </div>
          <div class="col-md-12" *ngIf="doctordetail?.RegNo ==null ">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Registration Number" formControlName="regno" value="{{doctordetail?.RegNo}}">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="First Name" formControlName="docfirstname" required
                [ngModel]="doctordetail?.DoctorName">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name" formControlName="doclastname">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>Select Gender</mat-label>
              <mat-select formControlName="gender" required>
                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                  {{gender.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="picker" placeholder="DOB" required formControlName="dob">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" required formControlName="email" type="email">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Mobile Number" formControlName="mobile" readonly
                [ngModel]="doctordetail?.ContactNo">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Landline Number" formControlName="landline">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <mat-label>Select Select Code</mat-label>
              <mat-select formControlName="statecode" required>
                <mat-option *ngFor="let code of statecodes" [value]="code.value">
                  {{code.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" required formControlName="password" type="password">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Confirm Password" required formControlName="conpassword" type="password">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Address" required formControlName="address"
                [ngModel]="doctordetail?.Address" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Qualification" required formControlName="qualification"
                [ngModel]="doctordetail?.qual">
            </mat-form-field>
          </div>
          <!-- <div class="col-md-12">
            <b>Qualification</b>
            <table class="table table-hover m-0 prescription--table">
              <thead>
                <tr class="bg-lightblue" style="background-color: lightblue;color:#ac3612">
                  <th class="text-center">Qualification *</th>
                  <th class="text-center">College</th>
                  <th class="text-center">University</th>
                  <th class="text-center" style="width:20px;">Year Of Completion *</th>
                  <th></th>
                </tr>
              </thead>
              <tbody formArrayName="qualificationArray">
                <tr *ngFor="let field of ClaimProfileFormGroup['controls'].qualificationArray['controls']; let i = index"
                  [formGroupName]="i">
                  <td>
                    <mat-form-field>
                      <input matInput placeholder="Qualification" formControlName="Qualification" required>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field>
                      <input matInput placeholder="College" formControlName="College">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field>
                      <input matInput placeholder="University" formControlName="University">
                    </mat-form-field>
                  </td>
                  <td style="width:20px;">
                    <mat-form-field>
                      <input matInput placeholder="Year Of Completion" formControlName="YearofCompletion" required>
                    </mat-form-field>
                  </td>
                  <td>
                    <button mat-mini-fab class="remove_btn" (click)="remove_qualification(i)"
                      *ngIf="ClaimProfileFormGroup.controls.qualificationArray.controls.length > 1">
                      <i class="mdi mdi-delete-forever font-20"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <p *ngIf="qualError == 1" style="color: red;font-weight: 600;">Please Fillout required fields</p>
            <a (click)="add_qualifications()" style="color:#ac3612;text-decoration: underline;cursor: pointer">Add
              Qualification</a>
          </div> -->
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Specialisation" required formControlName="specialisation">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Pincode" formControlName="pincode" required>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Consultation Fees" formControlName="consfees" required>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <mat-label>Select Free Rview Visit Count</mat-label>
              <mat-select formControlName="freevisit" required>
                <mat-option *ngFor="let visit of freevisits" [value]="visit.value">
                  {{visit.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="About" required formControlName="about" cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div> -->
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Education" required formControlName="education"
                [ngModel]="EducationTextareaText" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
              <mat-hint>FORMAT: Qualification - College Name, University Name, Year Of Completion</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Experiences" formControlName="experience" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Services" formControlName="services" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Awards & Recognitions" formControlName="awards" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Registrations" formControlName="registration" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Memberships" formControlName="membership" cdkTextareaAutosize
                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <span><b>Consulting Institution
                <!-- <sup style="color:red">*</sup> -->
              </b>
            </span>
            <table class="table table-hover m-0 prescription--table">
              <thead>
                <tr class="bg-lightblue" style="background-color: lightblue;color:#ac3612">
                  <th class="text-center">Hospital Name</th>
                  <th class="text-center">Address</th>
                  <th class="text-center">Timing</th>
                  <!-- <th class="text-center none">Fees</th> -->
                  <th></th>
                </tr>
              </thead>
              <tbody formArrayName="instituteArray">
                <tr *ngFor="let field of ClaimProfileFormGroup['controls'].instituteArray['controls']; let j = index"
                  [formGroupName]="j">
                  <td>
                    <mat-form-field>
                      <input matInput placeholder="Hospital Name" formControlName="clinicName" required>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field>
                      <input matInput placeholder="Address" formControlName="location" required>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field>
                      <input matInput placeholder="Timing" formControlName="availability" required>
                    </mat-form-field>
                  </td>
                  <!-- <td class="none">
                    <mat-form-field>
                      <input matInput placeholder="Fees" formControlName="fees" required>
                    </mat-form-field>
                  </td> -->
                  <td>
                    <button mat-mini-fab class="remove_btn" (click)="remove_institutes(j)"
                      *ngIf="ClaimProfileFormGroup.controls.instituteArray.controls.length > 1">
                      <i class="mdi mdi-delete-forever font-20"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <p *ngIf="insError == 1" style="color: red;font-weight: 600;">Please Fillout required fields</p>
            <a (click)="add_institutes()"
              style="color:#ac3612;text-decoration: underline;cursor: pointer;margin-right:2x;"> Add Institute</a>
          </div>
          <div class="col-md-12" style="border: 1px solid lightgrey;padding: 20px 10px 20px;margin: 14px;">
            <div class="formgroup col-md-offset-4 col-md-4">
              <input type="file" placeholder="Select image" formControlName="userImage" id="fileupload"
                name="fileupload" (change)="dispalyUserImage($event)">
              <label for="fileupload" id="fileuploadLabel">Please select image</label>
              <img id="PreviewImage">
              <a id="removeImage" (click)="removeUserImage()"
                style="position: absolute;bottom: 50px;right: 200px;cursor:pointer;border: none;color: #fff;background-color: rgba(0,0,0,.7);background-repeat: no-repeat;background-size: 50% 50%;background-position: 50%;border-radius: 50%;width: 36px;height: 36px;">
                <span>
                  <i class="mdi mdi-delete"
                    style="position: absolute;left: 8px;top: 5px;font-size: 20px;"></i></span></a>
            </div>
          </div>
          <div class="col-md-12">
            <button mat-raised-button color="primary" style="float:right;margin-top:10px;"
              (click)="SubmitForm(ClaimProfileFormGroup.valid, ClaimProfileFormGroup.value)">Update</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>