.example-full-width {
    width:100%;
}
.result_Userinfo{
    margin-top: 10px;
    border: 1px solid lightgrey;
    padding: 30px;
}
#fileuploadLabel {
    /* border: 1px solid grey; */
    width: 200px;
    height: 200px;
    text-align: center;
    padding-top: 70px;
    cursor: pointer;
    background-color: #add8e61f;
}
#fileupload{
    display: none !important;
    cursor: pointer;
}
#PreviewImage{
    display: none;
    width: 200px;
    height: 200px;
    /* padding: 10px 10px; */
    position: absolute;
    top: 0px;
    left: 15px;
}
#removeImage{
    display: none;
}
/* #removeImage:hover, 
#removeImage:focus{
    outline-style: solid !important;
  outline-color: red !important;
} */