<h1 mat-dialog-title>Consulting Institution</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field class="example-full-width" style="width:100%;">
      <input matInput placeholder="Hospital Name" [(ngModel)]="data.hospital">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width" style="width:100%;">
      <input matInput placeholder="Address" [(ngModel)]="data.address">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width" style="width:100%;">
      <input matInput placeholder="Consultation timing" [(ngModel)]="data.timing">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-full-width" style="width:100%;">
      <input matInput placeholder="Fees" [(ngModel)]="data.fees">
    </mat-form-field>
  </div>
  <!-- <div>
    <input type="file" (change) = "findLogoPath($event)">
  </div> -->
  <div mat-dialog-actions
    style="padding:8px 0;display:flex;flex-wrap:wrap;min-height:52px;align-items:center;margin-bottom:0px;float:right">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Submit</button>
  </div>