.p-0{
    padding: 0px!important;
}
.p-10{
    padding: 10px !important;
}
.p-t-10{
    padding-top: 10px !important;
}
.p-l-10{
    padding-left: 10px!important;
}
.p-l-15{
    padding-left: 15px !important;
}
.p-l-20{
    padding-left: 20px!important;
}
.p-r-5{
    padding-right: 5px!important;
}
.p-r-10{
    padding-right: 10px !important;
}
.p-b-10{
    padding-bottom: 10px !important;
}
.p-t-3{
    padding-top:3px !important;
}
.p-t-5{
    padding-top:5px !important;
}
.disp-flex{
    display: flex !important;
}
.p-l-0{
    padding-left: 0px !important;
}
.p-r-0{
    padding-right: 0px !important;
}
.p-l-8{
    padding-left:8px !important;
}

.orange-f-c{
    color:#f4511E !important;
}
.f-s-14{
    font-size: 14px !important;
}
.f-s-13{
    font-size: 13px !important;
}
.f-s-12{
    font-size: 12px !important;
}
.f-s-11{
    font-size: 11px !important;
}
.f-s-35{
    
    font-size: 35px !important;
}
.f-s-30{
    font-size: 30px !important;
}
/* Time line Compoenent */
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 45%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 60px;
            height: 60px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -30px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
            padding: 3px 10px;
            border: 3px solid #fff;
            box-shadow: 0px 1px 5px 1px #ccc;
        }
        .timeline-badge img{
            width: 100%;
        }
        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

.timeline .bounce-in {
    animation: cd-bounce-1 0.5s;
}
.timeline-hidden {
    display: block !important;
    opacity: 0; }
  
  @media only screen and (min-width: 768px) {
    .timeline timeline-event:nth-child(odd) timeline-panel.bounce-in {
      animation: cd-bounce-2 0.5s; }
    .timeline timeline-event:nth-child(even) timeline-panel.bounce-in {
      animation: cd-bounce-2-inverse 0.5s; } }
  
  @media only screen and (max-width: 767px) {
    .timeline timeline-event timeline-panel.bounce-in {
      animation: cd-bounce-2 0.5s; } }
  
  .timeline timeline-event timeline-badge.bounce-in {
    animation: cd-bounce-1 0.5s; }
  
  @-webkit-keyframes cd-bounce-2 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px); }
    60% {
      opacity: 1;
      -webkit-transform: translateX(20px); }
    100% {
      -webkit-transform: translateX(0); } }
  
  @-moz-keyframes cd-bounce-2 {
    0% {
      opacity: 0;
      -moz-transform: translateX(-100px); }
    60% {
      opacity: 1;
      -moz-transform: translateX(20px); }
    100% {
      -moz-transform: translateX(0); } }
  
  @keyframes cd-bounce-2 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
      -moz-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
      -o-transform: translateX(-100px);
      transform: translateX(-100px); }
    60% {
      opacity: 1;
      -webkit-transform: translateX(20px);
      -moz-transform: translateX(20px);
      -ms-transform: translateX(20px);
      -o-transform: translateX(20px);
      transform: translateX(20px); }
    100% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); } }
  
  @-webkit-keyframes cd-bounce-2-inverse {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px); }
    60% {
      opacity: 1;
      -webkit-transform: translateX(-20px); }
    100% {
      -webkit-transform: translateX(0); } }
  
  @-moz-keyframes cd-bounce-2-inverse {
    0% {
      opacity: 0;
      -moz-transform: translateX(100px); }
    60% {
      opacity: 1;
      -moz-transform: translateX(-20px); }
    100% {
      -moz-transform: translateX(0); } }
  
  @keyframes cd-bounce-2-inverse {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
      -moz-transform: translateX(100px);
      -ms-transform: translateX(100px);
      -o-transform: translateX(100px);
      transform: translateX(100px); }
    60% {
      opacity: 1;
      -webkit-transform: translateX(-20px);
      -moz-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
      -o-transform: translateX(-20px);
      transform: translateX(-20px); }
    100% {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); } }
  
  @-webkit-keyframes cd-bounce-1 {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.5); }
    60% {
      opacity: 1;
      -webkit-transform: scale(1.2); }
    100% {
      -webkit-transform: scale(1); } }
  
  @-moz-keyframes cd-bounce-1 {
    0% {
      opacity: 0;
      -moz-transform: scale(0.5); }
    60% {
      opacity: 1;
      -moz-transform: scale(1.2); }
    100% {
      -moz-transform: scale(1); } }
  
  @keyframes cd-bounce-1 {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
      -o-transform: scale(0.5);
      transform: scale(0.5); }
    60% {
      opacity: 1;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); 
    } 
}

.timeline-nalamidr{
    background-color:#2e5da0 !important;
}
.timeline-nalamforce{
    background-color:#eb9024 !important;
}
.timeline-nalamplus{
    background-color:#e44856 !important;
}
.timeline-nalamlite{
    background-color:#499b49 !important;
}
.timeline-followapp{
    background-color:#46daf3 !important;
}

.animated {
    visibility: visible !important;
}
.hide-on-init {
    visibility: hidden;
}
.timeline-heading{
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.nhDashboardRecentActivities .timeline:before {
    left: 30px;
}
.nhDashboardRecentActivities .timeline > li > .timeline-badge{
    left: 30px;
}

.nhDashboardRecentActivities .timeline > li > .timeline-panel{
    width: calc(100% - 100px);
    margin-left: 90px;
}
.w-auto{
    width: auto;
}
.nhAdminDashboardSmallCardImage {
    width: 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /* min-height: 24em; */
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.nhAdminDashboardSmallCardImage mat-icon {
    font-size: 40px;
    height: auto;
    padding-left: 0px;
    width: auto;
    text-shadow: 1px 1px 1px #000;
}
.nhAdminDashboardSmallCardContainer {
    height: 100px;
}
.nhAdminDashboardSmallCardDescContainer{
    padding-top: 20px;
}
@media(min-width:1400px){
    .addressWidth{
        width: 350px;
    }
}
@media(max-width:1400px){
    .addressWidth{
        width: 200px;
    }
}

.p-b-20{
    padding-bottom: 20px;
}
.m-20 {
    margin: 20px !important;
}
.m-t-10 {
    margin-top: 10px !important;
}
.m-r-5 {
    margin-right: 5px !important;
}
.m-r-10 {
    margin-right: 10px !important;
}
.m-r-15 {
    margin-right: 15px !important;
}
.m-l-5 {
    margin-left: 5px !important;
}
.m-l-8 {
    margin-left: 8px !important;
}
.m-l-10 {
    margin-left: 10px !important;
}
.m-l-20 {
    margin-left: 20px !important;
}
.p-l-10 {
    padding-left: 10px !important;
}
.p-r-10 {
    padding-right: 10px !important;
}
p {
    font-size: 14px;
    line-height: 25px;
}
.m-t-15 {
    margin-top: 15px !important;
}
.p-l-15 {
    padding-left: 15px !important;
}
.f-s-14{
    font-size: 14px;
}
.f-s-15{
    font-size: 15px !important;
}
.f-s-16{
    font-size: 16px !important;;
}
.f-s-18{
    font-size: 18px !important;
}
.page-title{
    /* padding-top: 30px; */
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
}