.hide {
    display: none !important;
}
.showDiv{
    display: block !important;
}
.logoutLink {
    position: absolute;
    right: 40px;
    color: #ffffffcf;
    font-size: 18px;
    cursor: pointer;
}