<div id="profilecontainerDiv">
  <div class="col-md-12 col-xs-12" id="profileHeader">
    <div class="col-md-offset-2 col-md-10 pa-10">
      <div class="col-md-6">
        <h3 style="color: #fff;margin:5px !important;text-transform: unset">Profile</h3>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xs-12" style="background-color: #d3d3d326">
    <div class="col-md-12 col-xs-12" style="padding:30px 5px 30px 5px; margin-top:20px; margin-bottom:20px;">
      <div class="col-md-offset-2 col-md-8">
        <ul class="breadcrumb">
          <li><a routerLink="/search">Home</a></li>
          <li><a routerLink="/doctors">Doctors</a></li>
          <li>Profile</li>
        </ul>
        <mat-card class="row" style="margin-bottom:10px;">
          <div class="col-md-12 col-xs-12">
            <div class="col-md-3" style="text-align:center">
              <img [src]="doctorimage" alt="Doctor Profile" style="width:200px; height:200px;">
            </div>
            <div class="col-md-9">
              <div class="col-md-12" style="margin-top:20px;">
                <p
                  style="font-size:20px; font-weight:500; color: #3297cb;text-transform:capitalize !important;margin-bottom:10px;">
                  Dr.{{doctorname}}
                  <!-- <a *ngIf="mobileValidation == 10" routerLink="/claim_profile/{{regid}}" style="font-size: 15px;
                      color: #ac361e;cursor:pointer;"> Claim Profile</a> -->
                  <!-- <a *ngIf="mobileValidation == 10" (click)="openDialog()" style="font-size: 15px;
                      color: #ac361e;cursor:pointer;text-transform:uppercase !important;"> Claim Profile</a> -->
                  <a *ngIf="mobileValidation == 10 && doctordetail?.IsFollowAppUser == 0" (click)="openDialog()" style="font-size: 15px;
                      color: #ac361e;cursor:pointer;text-transform:uppercase !important;"> Claim Profile</a>
                  <a *ngIf="doctordetail?.IsFollowAppUser == 1" style="font-size: 15px;
                      color: #ac361e;text-transform:uppercase !important;"> Profile Claimed</a>
                </p>
                <p style="margin-bottom:0px !important;font-weight:500">{{doctordetail?.qual}}</p>
                <p style="margin-bottom:0px !important;">Registered on - {{doctordetail?.RegDate}}</p>
                <!-- <p style="font-weight:500;color:#000;text-transform: uppercase"> 3 Years of Experience</p> -->
              </div>
            </div>

            <!-- <div class="col-md-12" style="border-left: 5px solid #922e11; padding: 15x;margin-top:30px;">
                  <h4 style="font-weight:500">ABOUT</h4>
                  <p>Registeration number:{{regid}}</p> 
                  Dr. G.Venkatesh is a Cardiologist in Valasaravakkam, Chennai and has an experience of 24 years in this
                  field. Dr. G.Venkatesh practices at ANN Hospital in Valasaravakkam, Chennai. He completed MBBS from The
                  Tamil Nadu Dr. M.G.R. Medical University (TNMGRMU) in 1995,MD - Cardiology from The Tamil Nadu Dr. M.G.R.
                  Medical University (TNMGRMU) in 2000 and DNB - Cardiology from DNB board, New Delhi in 2008.
      
                </div> -->
            <div class="col-md-12" style="border-left: 5px solid #922e11; padding: 15x;margin-top:50px;">
              <h4 style="font-weight:500">Education</h4>
              <!-- <p>MBBS - The Tamil Nadu Dr. M.G.R. Medical University (TNMGRMU), 1995</p>
                  <p>MD - Cardiology - The Tamil Nadu Dr. M.G.R. Medical University (TNMGRMU), 2000</p> -->
              <div *ngIf="education != ''" class="col-md-10">
                <!-- <p *ngFor="let edu of education" >{{edu}}</p> -->
                <table class="table table-hover m-0 prescription--table f-s-13">
                  <thead>
                    <tr>
                      <th>Qualification</th>
                      <th>Registered Date</th>
                      <th>College</th>
                      <th>University</th>
                      <th>Year Of Completion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let edu of education;let j = index">
                      <td>{{edu.Qualification}}</td>
                      <td>{{edu.RegisteredDate| date: 'dd/MMM/yyyy' || '-'}}</td>
                      <td>{{edu.College || '-'}}</td>
                      <td>{{edu.University || '-'}}</td>
                      <td>{{edu.YearofCompletion || '-'}}</td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <div *ngIf="education == ''">
                <p>{{doctordetail?.Qualification}}</p>

              </div>

              <!-- <h4 style="font-weight:500">Experience</h4>
                  <p>7 years of experience in Interventional Cardiology. Dr. Venkatesh has worked with various leading
                    Hospitals in Chennai like Vijaya Heart Foundation,
                    Ann Hospital, Maya Nursing Home, VHM Hospital, Bharani Hospital and Standard Hospital.</p> -->
            </div>
            <!-- <div class="col-md-12 col-xs-12" style="border-left: 5px solid #922e11; padding: 15x;margin-top:50px;">
                  <h4 style="font-weight:500">Consulting Institution</h4>
                  <mat-card class="col-md-5 col-xs-12 row"
                    style="margin:15px 35px;box-shadow: 0 1px 4px 5px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12) !important;">
                    <div class="col-md-12 col-xs-12 p-0">
                      <div class="col-md-9 col-xs-6 p-0">
                        <h4>Vijaya Hospital</h4>
                        <div>
                          <i class="mdi mdi-map-marker" style="color:#3297cb;font-size:18px;"></i>
                          <span>
                            <i> No.323, N.S.K, PT Rajan Rd, Kannika Puram,Vadapalani, Chennai</i>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-3 col-xs-6 p-0">
                        <img src="../../assets/images/vijayahospital.jpg"
                          style="width: 100px;height: 100px;border-radius: 50px;">
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <h5 style="text-transform:unset;margin-top:5px;">Consultation Details</h5>
                      <div>
                        <i class="mdi mdi-calendar-clock" style="color:#3297cb;padding-right:5px;font-size:18px;"
                          title="Consultation Timing"></i>
                        Daily 10:00 AM - 01.30 PM
                      </div>
                      <div>
                        <i class="mdi mdi-cash" style="color:#3297cb;padding-right:5px;font-size:20px;"
                          title="Consultation Fees"></i>
                        500.00
                      </div>
                    </div>
                  </mat-card>
                  <mat-card class="col-md-5 col-xs-12 row"
                    style="margin:15px 35px;box-shadow: 0 1px 4px 5px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12) !important;">
                    <div class="col-md-12 col-xs-12 p-0">
                      <div class="col-md-9 col-xs-6 p-0">
                        <h4>ANN Hospital</h4>
                        <div>
                          <i class="mdi mdi-map-marker" style="color:#3297cb;font-size:18px;"></i>
                          <span>
                            <i>
                              81- 85, Annai Therasa Street, Indranagar., Chennai
                            </i>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-3 col-xs-6 p-0">
                        <img src="../../assets/images/annhospital.jpg"
                          style="width: 100px;height: 100px;border-radius: 50px;">
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <h5 style="text-transform:unset;margin-top:5px;">Consultation Details</h5>
                      <div>
                        <i class="mdi mdi-calendar-clock" style="color:#3297cb;padding-right:5px;font-size:18px;"
                          title="Consultation Timing"></i>
                        Mon - Sat 7:30 PM - 10:30 PM
                      </div>
                      <div>
                        <i class="mdi mdi-cash" style="color:#3297cb;padding-right:5px;font-size:20px;"
                          title="Consultation Fees"></i>
                        350.00
                      </div>
                    </div>
                  </mat-card>
                </div> -->
            <div class="col-md-12" style="border-left: 5px solid #922e11; padding: 15x;margin-top:50px;">
              <div class="col-md-8">
                <h4 style="font-weight:500">Address </h4>
                <p [innerHTML]="doctordetail?.Address || 'Not Available'" style=" white-space: pre-wrap;">

                </p>
                <p>
                  {{doctordetail?.City}}
                </p>
                <p>
                  {{doctordetail?.State}}
                </p>
              </div>
              <!--<div class="col-md-12">
                    <h4 style="font-weight:500">Registrations</h4>
                    <p>55560 Tamil Nadu Medical Council, 1995.</p>
                  </div>
                  <div class="col-md-12">
                    <h4 style="font-weight:500">Membership</h4>
                    <p>7 years of experience in Interventional Cardiology.</p>
                  </div> -->
              <div class="col-md-4 p-s-0" *ngIf="address != ''">
                <!-- <a [href]="'https://www.google.com/maps/place/'+(doctordetail?.Address || doctordetail?.State)" target="_blank"> -->
                <agm-map [latitude]="lat" [longitude]="lng" style="height:250px;" [zoom]="zoom">
                  <agm-marker [latitude]="lat" [longitude]="lng" (markerClick)="clickedMarker(infoWindow,address)">
                  </agm-marker>
                  <agm-info-window #infoWindow>
                    <strong>{{currentText}}</strong>
                  </agm-info-window>
                </agm-map>
                <!-- </a>                 -->
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>