<h1 mat-dialog-title>Mobile Number Verification</h1>
<div mat-dialog-content style="padding:20px;">
  <div id="mobilenoverification">
    <div style="text-align:center"><img style="width:100px;" src="../../assets/images/otpimage.png"></div>
    <p style="font-weight:600">We will send you a One Time Password(OTP) on your Mobile Number {{data.mobile}}. Are you sure with your mobile number then claim your profile. </p>
  </div>
  <div id="mobilenovalidation" style="display:none">
    <div style="text-align:center">
      <img src="../../assets/images/otpvalidation.png" style="width:200px;">
    </div>
    <p style="font-weight:600">OTP has been sent to your Mobile Number {{data.mobile}}. Please enter your OTP</p>
    <mat-form-field style="width:100%;">
      <input matInput placeholder="OTP..." (input)="validateOTP()" required id="otpInput">
    </mat-form-field>
    <p style="color:red;font-size:12px;display:none" id="otperror">OTP Invalid</p>
  </div>

</div>
<div mat-dialog-actions style=float:right;margin-bottom:10px;>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="validationbyUser()" id="claimMblSubmit">Accept</button>
  <button mat-button style="display:none" mat-raised-button color="primary" id="claimProfileSubmit" (click)="validateOTPSubmit()" disabled>Verify</button>
</div>