<mat-toolbar id="nhAdminToolbar">
  <mat-toolbar-row style="height:146px !important;background-color:#fff">
    <div>
      <span id="navLogoContainer">
        <a href="https://followapp.in">
          <img src="../assets/images/logo.jpg" width="330" height="105">
        </a>
      </span>
      <span id="headerLinksMblContainer">
        <button mat-button [matMenuTriggerFor]="afterMenu"
          style="float: right;margin-bottom:5px;background-color: #4b97cb;">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="#f9f9f9" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
          </svg>
        </button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
          <a mat-menu-item href='https://followapp.in/followapp_doctor.php'>For Doctor's<i class="mdi mdi-stethoscope"
              style="font-size: 16px;"></i></a>
          <a mat-menu-item href='https://followapp.in/index.php'>For Patient's</a>
          <a mat-menu-item href='https://followapp.in/search'>Search</a>
          <!-- <a mat-menu-item href='https://followapp.in/registration.php'>Registration</a> -->
          <!-- <a mat-menu-item routerLink='/add-doctors'>Create Profile</a> -->
        </mat-menu>
      </span>
    </div>
    <span class="example-spacer"></span>
    <div style="margin-right: 15%;" id="headerLinksContainer">
      <ul id="headerLinks">
        <li>
          <a href='https://followapp.in/followapp_doctor.php'>For Doctor's<i class="mdi mdi-stethoscope"
              style="font-size: 16px;"></i></a>
        </li>
        <li>
          <a href='https://followapp.in/index.php'>For Patient's <i class="mdi mdi-account"
            style="font-size: 16px;"></i></a>
        </li>
        <li>
          <a href='https://followapp.in/search'>Search <i class="mdi mdi-magnify"
            style="font-size: 16px;"></i></a>
        </li>
        <!-- <li>
          <a href='https://followapp.in/registration.php'>Registration</a>
        </li> -->
        <!-- <li>
          <a routerLink='/add-doctors'>Create Profile</a>
        </li> -->
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>