.example-icon {
   padding: 0 14px;
}
  
.example-spacer {
   flex: 1 1 auto;
}
.db_link{
   color: #fff !important;
   display: inline-block !important;
   margin-right:35px;
}
.fixed {position:fixed; top:0; left:0;}



#header {
   position: relative;
   z-index: 100;
}

#header.header-narrow .header-body {
   min-height: 0;
}
#header .header-body {
   background: #FFF;
   border-bottom: 1px solid transparent;
   padding: 8px 0;
   -webkit-transition: min-height 0.3s ease;
   -moz-transition: min-height 0.3s ease;
   transition: min-height 0.3s ease;
   width: 100%;
   z-index: 1001;
   min-height: 100px;
}

#header .header-container {
   position: relative;
   display: table;
}
#header .container {
   position: relative;
}
@media (min-width: 1200px){
.container {
   width: 1170px;
}
}
@media (min-width: 992px){
.container {
   width: 970px;
}
}
@media (min-width: 768px){
.container {
   width: 750px;
}
}
#header .header-row {
   display: table-row;
   clear: both;
}

#header .header-column {
   display: table-cell;
   vertical-align: middle;
}

#header .header-logo {
   float: left;
   position: relative;
}

#header.header-narrow .header-logo img {
   margin: 12px 12px 12px 0;
}
#header .header-logo img {
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   transition: all 0.3s ease;
   position: relative;
   margin: 15px 15px 15px 0;
   top: 0;
}
@media (min-width: 992px) {
#header .header-nav {
    display: block !important;
}
}

#header .header-btn-collapse-nav {
   background: #019ee1;
}
#header .header-btn-collapse-nav {
   background: #CCC;
   color: #FFF;
   display: none;
   float: right;
   margin: 12px 0 8px 15px;
}

#header.header-narrow .header-nav-main {
   margin-bottom: 0;
}
@media (min-width: 992px) {
#header .header-nav-main {
   display: block !important;
   height: auto !important;
}
}
@media (min-width: 992px) {
#header .header-nav-main {
   float: right;
   margin: 12px 0 0;
   min-height: 45px;
}
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
   display: block;
}
.nav {
   padding-left: 0;
   margin-bottom: 0;
   list-style: none;
}
ul, ol {
   margin-top: 0;
   margin-bottom: 10px;
}
.nav-pills > li {
   float: left;
}
.nav > li {
   position: relative;
   display: block;
}
li {
   line-height: 24px;
}
#header .header-search .form-control, #header .header-nav-main nav > ul > li > a, #header .header-nav-main nav > ul > li.dropdown .dropdown-menu, #header .header-nav-main nav > ul > li.dropdown .dropdown-menu li.dropdown-submenu > .dropdown-menu, #header .header-nav-main nav > ul > li.dropdown-mega > .dropdown-menu, #header .header-nav-main nav > ul > li.dropdown-mega .dropdown-mega-sub-nav > li > a, #header.header-transparent .header-nav-main, #header.header-semi-transparent .header-nav-main, #header.header-semi-transparent-light .header-nav-main, #header .header-nav-main nav > ul > li.dropdown-mega.dropdown-mega-signin .dropdown-menu, .slider-container .tparrows, .nivo-slider .theme-default .nivoSlider, .nivo-slider .theme-default .nivoSlider img, .home-intro-compact, html.dark #header, html.boxed .body, blockquote.with-borders, p.drop-caps.drop-caps-style-2:first-child:first-letter, .btn-3d, select, .captcha-refresh, .featured-icon, .panel-group .panel-heading, .tabs, .nav-tabs li a, .tab-content, .tabs.tabs-bottom .tab-content, .tabs.tabs-bottom .nav-tabs li a, .tabs-left .tab-content, .tabs-left .nav-tabs > li:first-child a, .tabs-left .nav-tabs > li:last-child a, .tabs-right .tab-content, .tabs-right .nav-tabs > li:first-child a, .tabs-right .nav-tabs > li:last-child a, .nav-tabs.nav-justified li:first-child a, .nav-tabs.nav-justified li:first-child a:hover, .nav-tabs.nav-justified li:last-child a, .nav-tabs.nav-justified li:last-child a:hover, .tabs.tabs-bottom .nav.nav-tabs.nav-justified li:first-child a, .tabs.tabs-bottom .nav.nav-tabs.nav-justified li:last-child a, .tabs-navigation, .tabs-navigation .nav-tabs > li:first-child a, .tabs-navigation .nav-tabs > li:last-child a, .toggle > label, .toggle.toggle-simple .toggle > label, .toggle.toggle-simple .toggle > label:after, .owl-carousel .owl-nav [class*="owl-"], .owl-carousel.rounded-nav .owl-nav [class*="owl-"], .owl-carousel.rounded-nav .owl-nav [class*="owl-"]:hover, .owl-carousel.full-width .owl-nav .owl-prev, .owl-carousel.big-nav .owl-nav .owl-prev, .owl-carousel.full-width .owl-nav .owl-next, .owl-carousel.big-nav .owl-nav .owl-next, .embed-responsive.embed-responsive-borders, .pricing-table h3, .pricing-table .plan, .featured-box, .featured-box .box-content, .thumb-info, .thumb-info .thumb-info-wrapper, .thumb-info .thumb-info-wrapper:after, .thumb-info .thumb-info-type, .thumb-info img, section.timeline .timeline-date, section.timeline .timeline-box, .testimonial blockquote, .testimonial.testimonial-style-2 blockquote, .testimonial.testimonial-style-3 blockquote, .testimonial.testimonial-style-4, .testimonial.testimonial-style-4 blockquote, .testimonial.testimonial-style-5 blockquote, .testimonial.testimonial-style-6 blockquote, .container .call-to-action, .progress, .progress.progress-border-radius, .progress.progress-border-radius .progress-bar, .progress-bar, .progress-bar-tooltip, .counters.with-borders .counter, html .scroll-to-top, .google-map.small, .google-map-borders, article.post .post-date .month, article.post .post-date .day, article .post-video, article .post-audio, ul.comments .comment-block, .recent-posts .date .month, #header nav.mega-menu .mega-menu-shop .dropdown-menu, .shop ul.products .product .add-to-cart-product, .product-info, .product-info img, .product-info + .product-info, .img-thumbnail.img-thumbnail-hover-icon:before, .product-thumb-info {
    border-radius: 0;
}
@media (min-width: 992px) {
#header .header-nav-main nav > ul > li > a {
    border-radius: 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    padding: 10px 13px;
    text-transform: uppercase;
}
}

