#searchcontrol , #searchcitycontrol{
    width: 350px;
    height:45px;
    font-size: 16px;
    color:#000;
}


#searchicon {
    color: #9c9292;
    position: absolute;
    left: 325px;
    top: 10px;
    font-size: 29px;
}