<div id="doctorSearchContainer">
  <div class="col-md-12 col-xs-12" id="searchHeader">
    <div class="col-md-offset-1 col-md-10 pa-10">
      <div class="col-md-3">
        <h3 style="color: #fff;margin:5px !important;text-transform: unset" class="p-s-10">Find Your Doctor</h3>
      </div>
      <div class="col-md-4 p-s-10">
        <input type="text" value="" id="searchcontrol" placeholder="Doctor Name" autocomplete="off">
      </div>
      <div class="col-md-4 p-s-10">
        <input type="text" value="" id="searchcitycontrol" placeholder="Location" autocomplete="off">
      </div>
      <div class="col-md-1 p-s-10">
        <button mat-raised-button color="warn" style="width:100px;background-color: #4b97cb;height:45px;"
          (click)="SearchDoctors()">Search</button>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xs-12" style="background-color: #d3d3d326">
    <div class="col-md-12 col-xs-12 p-s-0" style="padding:30px 5px 30px 5px; margin-top:20px; margin-bottom:20px;">
      <div style="height: 320px !important" id="searchResultloader">
        <mat-spinner style="position: absolute;top: 35%;left: 43%;"></mat-spinner>
      </div>
      <div class="col-md-offset-2 col-md-8" id="searchResultcontainer">
        <ul class="breadcrumb">
          <li><a routerLink="/search">Home</a></li>        
          <li>Doctors</li>
        </ul>
        <!-- <mat-card class="row" style="margin-bottom:10px;">
              <div class="col-md-12 col-xs-12">
                <div class="col-md-2">
                  <img src="../../assets/images/drgvenkatesh.jpg" style="width:150px; height:150px;">
                </div>
                <div class="col-md-10">
                  <div class="col-md-8">
                    <p style="font-size:18px; font-weight:500; color: #3297cb;margin-bottom:0px !important;">Dr. G.Venkatesh
                    </p>
                    <p style="margin-bottom:0px !important;">MBBS, MD - Cardiology, DNB - Cardiology</p>
                    <p style="font-weight:500;color:#000;"> 24 Years Experience</p>
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div>
                      <i class="mdi mdi-calendar-clock" style="color:#3297cb;padding-right:5px;font-size:18px;"
                        title="Consultation Timing"></i> Mon - Sat 8:00 PM - 9:30 PM
                    </div>
                    <div>
                      <i class="mdi mdi-cash" style="color:#3297cb;padding-right:5px;font-size:20px;"
                        title="Consultation Fees"></i> 350.00
                    </div>
                    <div>
                      <i class="mdi mdi-map-marker" style="color:#3297cb;padding-right:5px;font-size:18px;" title="City"></i>
                      Chennai
                    </div>
                  </div>
                  <div class="col-md-12">
                    Dr. G.Venkatesh is a Cardiologist in Valasaravakkam, Chennai and has an experience of 24 years in this
                    field. Dr. G.Venkatesh practices at ANN Hospital in Valasaravakkam, Chennai. She completed MBBS from The
                    Tamil Nadu Dr. M.G.R. Medical University (TNMGRMU) in 1995,MD - Cardiology from The Tamil Nadu Dr. M.G.R.
                    Medical University (TNMGRMU) in 2000 and DNB - Cardiology from DNB board, New Delhi in 2008.
                  </div>
                  <div class="col-md-12">
                    <a routerLink="/search/26804">View Profile</a>
                  </div>
                </div>
              </div>
            </mat-card>
            <mat-card class="row" style="margin-bottom:10px;">
              <div class="col-md-12 col-xs-12">
                <div class="col-md-2">
                  <img src="../../assets/images/doctor_icon.png" style="width:150px; height:150px;">
                </div>
                <div class="col-md-10">
                  <div class="col-md-8">
                    <p style="font-size:18px; font-weight:500; color: #3297cb;margin-bottom:0px !important;">Dr.R.Selvam</p>
                    <p style="margin-bottom:0px !important;">MBBS, MD,. General Surgeon </p>
                    <p style="font-weight:500;color:#000;"> 3 Years of Experience</p>
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div>
                      <i class="mdi mdi-calendar-clock" style="color:#3297cb;padding-right:5px;font-size:18px;"
                        title="Consultation Timing"></i> Daily 10:00am - 02.00 pm
                    </div>
                    <div>
                      <i class="mdi mdi-cash" style="color:#3297cb;padding-right:5px;font-size:20px;"
                        title="Consultation Fees"></i> 5.00
                    </div>
                    <div>
                      <i class="mdi mdi-map-marker" style="color:#3297cb;padding-right:5px;font-size:18px;" title="City"></i>
                      Chennai
                    </div>
                  </div>
                  <div class="col-md-12">
                    Nalam Healthcare IT has been a leader in bringing innovative solutions to work the best for the consumers.
                    Addressing the Pain Points of Doctors and Staff in Hospitals in Tamil Nadu, Nalam Healthcare IT brought
                    many innovative solutions to work for them...
                  </div>
                  <div class="col-md-12">
                    <a routerLink="/search/26811">View Profile</a>
                  </div>
                </div>
              </div>
            </mat-card>
            <mat-card class="row" style="margin-bottom:10px;">
              <div class="col-md-12 col-xs-12">
                <div class="col-md-2">
                  <img src="../../assets/images/doctor_icon_img.jpg" style="width:150px; height:150px;">
                </div>
                <div class="col-md-10">
                  <div class="col-md-8">
                    <p style="font-size:18px; font-weight:500; color: #3297cb;margin-bottom:0px !important;">Dr. Thenmozhi
                      Govindasamy</p>
                    <p style="margin-bottom:0px !important;">MBBS, MD,. General Physician </p>
                    <p style="font-weight:500;color:#000;"> 3 Years of Experience</p>
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div>
                      <i class="mdi mdi-calendar-clock" style="color:#3297cb;padding-right:5px;font-size:18px;"
                        title="Consultation Timing"></i> Daily 10:00am - 02.00 pm
                    </div>
                    <div>
                      <i class="mdi mdi-cash" style="color:#3297cb;padding-right:5px;font-size:20px;"
                        title="Consultation Fees"></i> 5.00
                    </div>
                    <div>
                      <i class="mdi mdi-map-marker" style="color:#3297cb;padding-right:5px;font-size:18px;" title="City"></i>
                      Chennai
                    </div>
                  </div>
                  <div class="col-md-12">
                    Nalam Healthcare IT has been a leader in bringing innovative solutions to work the best for the consumers.
                    Addressing the Pain Points of Doctors and Staff in Hospitals in Tamil Nadu, Nalam Healthcare IT brought
                    many innovative solutions to work for them...
                  </div>
                  <div class="col-md-12">
                    <a routerLink="/search/26821">View Profile</a>
                  </div>
                </div>
              </div>
            </mat-card>
            <mat-card class="row" style="margin-bottom:10px;">
              <div class="col-md-12 col-xs-12">
                <div class="col-md-2">
                  <img src="../../assets/images/doctor_icon.png" style="width:150px; height:150px;">
                </div>
                <div class="col-md-10">
                  <div class="col-md-8">
                    <p style="font-size:18px; font-weight:500; color: #3297cb;margin-bottom:0px !important;">Dr. Thenmozhi
                      Govindasamy</p>
                    <p style="margin-bottom:0px !important;">MBBS, MD,. General Physician </p>
                    <p style="font-weight:500;color:#000;"> 3 Years of Experience</p>
                  </div>
                  <div class="col-md-4 col-xs-12">
                    <div>
                      <i class="mdi mdi-calendar-clock" style="color:#3297cb;padding-right:5px;font-size:18px;"
                        title="Consultation Timing"></i> Daily 10:00am - 02.00 pm
                    </div>
                    <div>
                      <i class="mdi mdi-cash" style="color:#3297cb;padding-right:5px;font-size:20px;"
                        title="Consultation Fees"></i> 5.00
                    </div>
                    <div>
                      <i class="mdi mdi-map-marker" style="color:#3297cb;padding-right:5px;font-size:18px;" title="City"></i>
                      Chennai
                    </div>
                  </div>
                  <div class="col-md-12">
                    Nalam Healthcare IT has been a leader in bringing innovative solutions to work the best for the consumers.
                    Addressing the Pain Points of Doctors and Staff in Hospitals in Tamil Nadu, Nalam Healthcare IT brought
                    many innovative solutions to work for them...
                  </div>
                  <div class="col-md-12">
                    <a routerLink="/search/26828">View Profile</a>
                  </div>
                </div>
              </div>
            </mat-card> -->
        <div *ngIf="doctorlist?.length > 0">
          <mat-card class="row" style="margin-bottom:10px;" *ngFor='let doctor of doctorlist'>
            <div class="col-md-12 col-xs-12">
              <div class="col-md-2" style="height:100px !important;text-align:center;">
                <a *ngIf="doctor.DoctorID !=''" [routerLink]="['./profile',doctor.DoctorID]"
                  class="viewIMADRProfile"><img src="../../assets/images/ima_doctors_icon.png" [src]="doctor.ImagePath"
                    class="docSearchIcon" alt="{{doctor.ImagePath}}"></a>
                <a *ngIf="doctor.DoctorID ==''" [routerLink]="['./Profile',doctor.RegNo]" class="viewIMADRProfile"><img
                    src="../../assets/images/ima_doctors_icon.png" [src]="doctor.ImagePath" class="docSearchIcon"
                    alt="{{doctor.ImagePath}}"></a>
              </div>
              <div class="col-md-10">
                <div class="col-md-8">
                  <!-- <div class="col-md-12" >
                        <a  [routerLink]="['./profile',doctor.DoctorID]"class="viewIMADRProfile">View Profile</a>
                      </div>
                      <div class="col-md-12" >
                        <a  [routerLink]="['./Profile',doctor.RegNo]"class="viewIMADRProfile">View Profile</a>
                      </div> -->
                  <a *ngIf="doctor.DoctorID !=''" [routerLink]="['./profile',doctor.DoctorID]" class="viewIMADRProfile">
                    <p
                      style="font-size:18px; font-weight:500; color: #3297cb;margin-bottom:0px !important;text-transform:capitalize">
                      Dr.{{doctor.DoctorName}}</p>
                  </a>
                  <a *ngIf="doctor.DoctorID ==''" [routerLink]="['./Profile',doctor.RegNo]" class="viewIMADRProfile">
                    <p
                      style="font-size:18px; font-weight:500; color: #3297cb;margin-bottom:0px !important;text-transform:capitalize">
                      Dr.{{doctor.DoctorName}}</p>
                  </a>
                  <p style="margin-bottom:0px !important;">{{doctor.qual}} </p>
                  <!-- <p style="font-weight:500;color:#000;"> 3 Years of Experience</p> -->
                </div>
                <div class="col-md-4 col-xs-12">
                  <!-- <div>
                        <i class="mdi mdi-calendar-clock" style="color:#3297cb;padding-right:5px;font-size:18px;"
                          title="Consultation Timing"></i> Daily 10:00am - 02.00 pm
                      </div>
                      <div>
                        <i class="mdi mdi-cash" style="color:#3297cb;padding-right:5px;font-size:20px;"
                          title="Consultation Fees"></i> 5.00
                      </div> -->
                  <div>
                    <i class="mdi mdi-map-marker" style="color:#3297cb;padding-right:5px;font-size:18px;"
                      title="City"></i>
                    {{doctor.State}}
                  </div>
                </div>
                <div class="col-md-12">

                </div>
                <div class="col-md-12" *ngIf="doctor.DoctorID !=''">
                  <a [routerLink]="['./profile',doctor.DoctorID]" class="viewIMADRProfile">View Profile</a>
                </div>
                <div class="col-md-12" *ngIf="doctor.DoctorID ==''">
                  <a [routerLink]="['./Profile',doctor.RegNo]" class="viewIMADRProfile">View Profile</a>
                </div>

              </div>
            </div>
          </mat-card>

          <!-- EducationalInfo -->
          <mat-paginator [length]="doctorListLength" [pageSize]="10" [pageSizeOptions]="[5, 10]"
            (page)="pageEvent = handlePage($event)">
          </mat-paginator>
        </div>
        <div *ngIf="doctorlist?.length == 0">
          <mat-card style="height:60vh;">
            <p style="text-align: center;padding: 150px;font-size: 20px;font-weight: 600;font-style: italic;">No Doctors
              Found
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>


<div>
  <router-outlet></router-outlet>
</div>