<div class="">
  <div class="col-md-12 col-xs-12" style="padding: 0px !important;">
    <div class="col-md-12 col-xs-12" id="homesearchContainer">
      <div class="col-xs-12 col-md-12 searchDiv">
        <div class="col-md-offset-1 col-md-10">
          <div class="col-md-12 col-xs-12" id="homesearchInnerContainer" >
            <!-- {{listArray|slice:2:6}} -->
            <div class="col-md-12" id="homesearchContainerOuter" >
              <div class="col-md-5 p-s-10">
                <input type="text" value="" id="searchcontrolhome" placeholder="Doctor Name" autocomplete="off"
                (input)="updateSearchdata()">
              </div>
              <div class="col-md-5 p-s-10">
                <input type="text" value="" id="searchcitycontrolhome" placeholder="Location" autocomplete="off"
                 (input)="updateSearchdata()">
              </div>
              <div class="col-md-2 p-s-10">
                <button mat-raised-button color="warn" style="width:100px;background-color: #4b97cb;"
                  routerLink="/doctors">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-12 col-xs-12">
    <div class="col-xs-12 col-md-12">
      <div class="col-md-offset-1 col-md-10">
        <div class="col-md-12 col-xs-12" style="padding: 30px;margin:35px;">
          <div class="col-md-12 col-xs-12">
            <h2 style="font-weight:400; text-align:center">
              <b>
                <span style="color: #3297cb;">Follow</span>
                <span style="color: #e75429;">App</span>
              </b></h2>
          </div>
          <div class="col-xs-12 col-md-12">
            <div class="col-xs-4">
              <mat-card class="row col-xs-12" style="padding:15px !important;">
                <div class="col-xs-12" style="text-align:center">
                  <img src="../../assets/images/talkwithexpert.png" style="width:80px">
                </div>
                <div class="col-xs-12" style="margin-top:10px;">
                  <p style="font-weight:600;text-align:center;">Talk to the Medical Expert</p>
                </div>
                <div class="col-xs-12">
                  <p style="text-align:center;">
                    vendor.js:179109
                    Angular is running in the development mode. Call enableProdMode() to enable the production mode.
                    core.js:15702
                  </p>
                </div>
              </mat-card>
            </div>
            <div class="col-xs-4">
              <mat-card class="row col-xs-12" style="padding:15px !important;">
                <div class="col-xs-12" style="text-align:center">
                  <img src="../../assets/images/onlineappointment.png" style="width:80px">
                </div>
                <div class="col-xs-12" style="margin-top:10px;">
                  <p style="font-weight:600;text-align:center;">Book Online Appointment</p>
                </div>
                <div class="col-xs-12">
                  <p style="text-align:center;">
                    vendor.js:179109
                    Angular is running in the development mode. Call enableProdMode() to enable the production mode.
                    core.js:15702
                  </p>
                </div>
              </mat-card>
            </div>
            <div class="col-xs-4">
              <mat-card class="row col-xs-12" style="padding:15px !important;">
                <div class="col-xs-12" style="text-align:center">
                  <img src="../../assets/images/talkwithexpert.png" style="width:80px">
                </div>
                <div class="col-xs-12" style="margin-top:10px;">
                  <p style="font-weight:600;text-align:center;">Order Medicine Online</p>
                </div>
                <div class="col-xs-12">
                  <p style="text-align:center;">
                    vendor.js:179109
                    Angular is running in the development mode. Call enableProdMode() to enable the production mode.
                    core.js:15702
                  </p>
                </div>
              </mat-card>
            </div>
            <div class="col-xs-4" style="margin-top:10px;">
              <mat-card class="row col-xs-12" style="padding:15px !important;">
                <div class="col-xs-12" style="text-align:center">
                  <img src="../../assets/images/talkwithexpert.png" style="width:80px">
                </div>
                <div class="col-xs-12" style="margin-top:10px;">
                  <p style="font-weight:600;text-align:center;">Health community</p>
                </div>
                <div class="col-xs-12">
                  <p style="text-align:center;">
                    vendor.js:179109
                    Angular is running in the development mode. Call enableProdMode() to enable the production mode.
                    core.js:15702
                  </p>
                </div>
              </mat-card>
            </div>
            <div class="col-xs-4" style="margin-top:10px;">
              <mat-card class="row col-xs-12" style="padding:15px !important;">
                <div class="col-xs-12" style="text-align:center">
                  <img src="../../assets/images/talkwithexpert.png" style="width:80px">
                </div>
                <div class="col-xs-12" style="margin-top:10px;">
                  <p style="font-weight:600;text-align:center;">Medicine Reminder</p>
                </div>
                <div class="col-xs-12">
                  <p style="text-align:center;">
                    vendor.js:179109
                    Angular is running in the development mode. Call enableProdMode() to enable the production mode.
                    core.js:15702
                  </p>
                </div>
              </mat-card>
            </div>
            <div class="col-xs-4" style="margin-top:10px;">
              <mat-card class="row col-xs-12" style="padding:15px !important;">
                <div class="col-xs-12" style="text-align:center">
                  <img src="../../assets/images/talkwithexpert.png" style="width:80px">
                </div>
                <div class="col-xs-12" style="margin-top:10px;">
                  <p style="font-weight:600;text-align:center;">Health record Meintanence</p>
                </div>
                <div class="col-xs-12">
                  <p style="text-align:center;">
                    vendor.js:179109
                    Angular is running in the development mode. Call enableProdMode() to enable the production mode.
                    core.js:15702
                  </p>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="col-md-12 col-xs-12" style="background-color:#d3d3d342;padding:50px 10px;">
    <div class="col-xs-12 col-md-12">
      <div class="col-md-offset-1 col-md-10">
          vendor.js:179109
                    Angular is running in the development mode. Call enableProdMode() to enable the production mode.
                    core.js:15702  vendor.js:179109
                    Angular is running in the development mode. Call enableProdMode() to enable the production mode.
                    core.js:15702  vendor.js:179109
                    Angular is running in the development mode. Call enableProdMode() to enable the production mode.
                    core.js:15702  vendor.js:179109
                    Angular is running in the development mode. Call enableProdMode() to enable the production mode.
                    core.js:15702
      </div>
    </div>
</div> -->
  <div class="col-md-12 col-xs-12">
    <div class="col-xs-12 col-md-12">
      <div class="col-md-offset-1 col-md-10">
        <div class="col-md-12 col-xs-12 pa-30">
          <div class="col-md-3 col-xs-12 text-right">
            <img src="../../assets/images/app-images.png" id="followapploginImg">
          </div>
          <div class="col-md-9 col-xs-12 p-s-0">
            <div class="col-xs-12 col-md-12 p-s-0" style="padding-top: 40px;padding-left:20px;">
              <h2 style="font-weight:400">Download
                <b>
                  <span style="color: #3297cb;">Follow</span>
                  <span style="color: #e75429;">App</span>
                </b></h2>
              <div class="col-md-6">
                <h4>For Doctor's</h4>
                <ul>
                  <li style="font-size: 16px;font-weight: 400;padding: 5px;">Patient's History Maintanence</li>
                  <li style="font-size: 16px;font-weight: 400;padding: 5px;">Online Consultation</li>
                  <li style="font-size: 16px;font-weight: 400;padding: 5px;">Health record maintanence</li>
                  <li style="font-size: 16px;font-weight: 400;padding: 5px;">Broadcasting Messages to Patient's </li>
                  <li style="font-size: 16px;font-weight: 400;padding: 5px;">Send Prescription Online</li>
                </ul>
              </div>
              <div class="col-md-6">
                  <h4>For Patient's</h4>
                <ul>
                  <li style="font-size: 16px;font-weight: 400;padding: 5px;">Book Appointments</li>
                  <li style="font-size: 16px;font-weight: 400;padding: 5px;">Online Consultation with Doctors</li>
                  <li style="font-size: 16px;font-weight: 400;padding: 5px;">Health record maintanence</li>
                  <li style="font-size: 16px;font-weight: 400;padding: 5px;">Set Review reminder</li>
                  <li style="font-size: 16px;font-weight: 400;padding: 5px;">Set Medicine reminder</li>
                </ul>
              </div>

              <div class="col-xs-12">
                <a class="col-xs-12" href="https://play.google.com/store/apps/details?id=com.nalamhcit.followapp&hl=en" target="_blank">
                  <img src="../../assets/images/google_badge.webp"
                    style="width:150px !important; height:50px;margin:10px;">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>